target/

.DS_Store

Settings.txt
.classpath
.project
.settings
*.ows
bin/

*.dll

tinterface/ManyMouse.dll

*.jnilib

*.so

tinterface/ToDo.txt

tinterface/Readme.txt

tinterface/License.txt

tinterface/whirlycache-default.xml
