target/

.DS_Store

Settings.txt
.classpath
.project
.settings
bin/
*.ows
tinterface/src/main/resources/org/orbisgis/tinterface/main/Iris.ows

tinterface/src/main/resources/org/orbisgis/tinterface/main/Iris.ows
